.App {
  text-align: center;
}

.heading {
  display: inline-block;
  line-height: 1;
  padding: 10px 50px;
  border-radius: 5px;
  background-color: var(--blue);
  font-weight: lighter !important;
}
